html {
  font-size: 20px;
  font-family: sans-serif;
}

.para {
  font-size: 1.25rem;
  color: red;
}

.small-para {
  font-size: 0.75rem;
}

.text {
  color: green;
}

div .child {
  color: red;
}

.button {
  font-size: 1.5rem;
}

#confirm-button {
  background-color: green;
  font-weight: bold;
  color: white;
}

#cancel-button {
  background: white;
}
